
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=New+Tegomin&display=swap" rel="stylesheet">
</head>
<body>

	<div class="welcome">
        <h3>Summary</h3>
        <br>
	</div> 

    <div class="output">
        <h2>Summary for the text provided</h2>
        <br><br>
                           
            <div class="input" style="padding-left: 30px; padding-right: 30px; ">
                <p class="summ" style="font-family: 'Comfortaa', cursive; font-size:20px; padding-top: 20px; word-spacing: 3px; font-weight: bold; color: #ffff; line-height: 30px;" >{{ summary }}</p>
                <br><br><br>
                
                <p align="center"><a href=home ><button class=button style="width: 90px;" >Back</button></a></p>
            </div>
                    
        
    </div>

</body>
</html>
